
.container {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 3rem 2rem 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 900px;
  margin: 4rem auto 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.titolo {
  padding-top: 1rem;
  font-family: "Great Vibes", "Brush Script MT", cursive;
  font-synthesis: none;
}

.data {
  font-family: "Satisfy", "Comic Sans MS", cursive;
  padding: 1rem;
}

.location {
  font-family: "Playfair Display", "Times New Roman", serif;
  margin-bottom: 2rem;
}

.sottile {
  font-family: "Cormorant Garamond", Georgia, serif;
}

.cta-text h2 {
  font-family: "Dancing Script", "Brush Script MT", cursive;
  font-size: 2.8em;
  margin-bottom: 1.2rem;
}

.cta-text {
  font-family: 'Cinzel', "Times New Roman", serif;
  background-color: white;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 4.2em;
  line-height: 1.1;
}

p {
  font-size: 1.7em;
  color: #333;
}

.cta-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cta-text p {
  font-size: 1.1em;
  color: #333;
  margin-bottom: 2rem;
}

.cta-button {
  display: inline-block;
  background-color: #17b7ed;
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.cta-img-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
}

.cta-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  object-position: center bottom;
}


/* --- Layout Desktop --- */
@media (min-width: 1024px) {
  .cta-layout {
    flex-direction: row;
    height: 600px;
  }

  .cta-text,
  .cta-img-container {
    flex: 1;
    height: 100%;
  }

  .cta-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

/* Responsive per mobile */
@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 85%;
    padding: 2.5rem 1.5rem 2rem;
    margin: 2rem auto;
    line-height: 1.8;
  }

  h1 {
    padding-top: 4rem;
    font-size: 3em;
  }

  p {
    font-size: 1.3em;
  }

  .call-to-action {
    padding: 3rem 0;
  }
}


/* terzo blocco */
.barra-bianca {
  height: 3.8rem;
  background-color: white;
  width: 100%;
}

.contenuto-extra {
  background-color: white;
  padding: 0;
  margin: 0;
}

.immagine-extra {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.testo-extra {
  font-size: 1.4em;
  color: #333;
  font-family: "Cormorant Garamond", Georgia, serif;
}

/* Blocco immagine + testo ---------------------------------------- */
.sezione-foto-testo {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.95);
}

/* Immagine */
.foto-box {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.immagine-extra {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  display: block;
}

/* Testo */
.testo-box {
  padding: 2rem 1.5rem;
  text-align: center;
  font-family: 'Cormorant Garamond', Georgia, serif;
  color: #333;
}

.testo-extra h2 {
  font-family: "Cormorant Garamond", Georgia, serif;
  font-size: 2.2em;
  margin-bottom: 1rem;
}

.testo-extra p {
  /* margin-bottom: 1.5rem; */
  font-size: 1.4rem;
  line-height: 1.6;
}

.testo-extra h4 {
  font-family: "Playfair Display", "Times New Roman", serif;
}

.testo-extra h5 {
  font-size: 1.4rem;
}

/* pulsante */
.btn-toggle-dettagli {
  background-color: #17b7ed;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media (hover: hover) {
  .btn-toggle-dettagli:hover {
    background-color: #1baae7;
  }
}

.dettagli-iban {
  margin-top: 1.8rem;
}

/* Layout desktop */
@media (min-width: 1024px) {
  .sezione-foto-testo {
    flex-direction: row;
    height: 500px;
  }

  .foto-box, .testo-box {
    width: 50%;
    height: 100%;
  }

  .foto-box {
    height: 100%;
  }

  .immagine-extra {
    height: 100%;
  }

  .testo-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .testo-extra {
    display: flex;
    flex-direction: column;
    max-width: 500px;
  }
}

/* ultimo blocco */
.footer-contatti {
  background-color: #e0f5ff;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  text-align: center;
  gap: 1.5rem;
  color: #333;
}

.contatto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.icona {
  font-size: 1.8rem;
}

.footer-contatti a {
  color: #0e8bc1;
  text-decoration: none;
  font-weight: bold;
}

/* Layout desktop: affianca i blocchi ma lascia il contenuto interno in colonna */
@media (min-width: 768px) {
  .footer-contatti {
    padding-top: 3rem;
    flex-direction: row;
    justify-content: center;
  }

  .contatto {
    flex: 1;
  }

  .barra-bianca2 {
    height: 4.4rem;
    background-color: white;
    width: 100%;
  }
}