:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* font-family: 'Playfair Display', serif; */
  /* font-family: "Dancing Script", cursive; */
  /* font-family: "Great Vibes", cursive; */
  /* font-family: "Satisfy", cursive; */
  /* font-family: "Cormorant Garamond", Georgia, serif; */
  text-align: center;
  line-height: 1.5;
  background-color: #fff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-image: url('/img/nosy-iranja.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

a {
  font-weight: 500;
  /* color: #646cff; */
  color: #0e8bc1;
  text-decoration: none;
}

a:hover {
  /* color: #4a53f4; */
  color: #036c99;
}
